body {
  min-width: 1200px;

  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #283136;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container--rel {
  position: relative;
}

.page-header {
  padding-top: 50px;

  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
}

.page-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-nav__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  min-width: 490px;
  margin-left: 200px;
}

.main-nav li {
  position: relative;

  display: inline-block;
  margin-right: 46px;

  vertical-align: middle;
}

.page-menu__logo {
  opacity: 1;
}

.page-menu__logo:hover {
  opacity: 0, 8;
}

.main-nav .current {
  padding-bottom: 8px;

  border-bottom: 2px solid #fb565a;
}

.main-nav__item a {
  display: block;
  padding-top: 25px;

  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.main-nav__item a:hover,
.backet a:hover {
  color: #fb565a;
}

.main-nav__item a:active,
.backet a:active {
  color: #a6a6a6;
}

.backet a {
  position: relative;

  display: block;

  line-height: 30px;
  color: #000000;
  text-decoration: none;
}

.main-nav__item--active::before {
  content: "";
  position: absolute;
  bottom: -5px;

  width: 100%;
  height: 2px;

  background: #fb565a;
}

.backet {
  position: relative;

  margin-top: 26px;
  margin-left: 235px;
}

.backet::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  z-index: 10;

  width: 20px;
  height: 15px;

  background: transparent url("../img/decor/backet.svg") no-repeat;
  background-position: 1px 1px;
}

.slider__dots-wrp {
  position: absolute;
  bottom: 106px;
  left: 50%;
  z-index: 50;

  width: 200px;
  height: 10px;
  margin-left: -100px;

  text-align: center;
}

.slider__dot {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: 0 6px;

  vertical-align: middle;
  vertical-align: top;

  background: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider__dot::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;

  width: 4px;
  height: 4px;

  background: #ffffff;
  border-radius: 50%;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider__text {
  width: 515px;
  padding-top: 70px;
  padding-bottom: 78px;
}

.slider input[type=radio] {
  display: none;
}

#btn-1:checked ~ .slider__dots-wrp .slider__dot[for="btn-1"],
#btn-2:checked ~ .slider__dots-wrp .slider__dot[for="btn-2"],
#btn-3:checked ~ .slider__dots-wrp .slider__dot[for="btn-3"] {
  background: #c1c1c1;
}

.slider__item:nth-child(1) {
  background-image: url("../img/decor/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider__item:nth-child(2) {
  background-image: url("../img/decor/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider__item:nth-child(3) {
  background-image: url("../img/decor/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider__item {
  display: none;
}

#btn-1:checked ~ .slider__list .slider__item:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slider__list .slider__item:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slider__list .slider__item:nth-child(3) {
  display: block;
}

.slider__title,
.main__title--catalog {
  display: block;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.main__title--catalog {
  padding-bottom: 40px;
}

.slider__slogan {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.btn-hover,
.btn {
  display: block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;

  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 5px;
}

.btn__slider {
  width: 240px;
  margin-top: 40px;
}

.btn-hover {
  width: 200px;
  margin: 0 auto;
  margin-top: 28px;

  background-color: #fb565a;
  border: 0;
}

.info-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eeeeee;
}

.info-item {
  width: 360px;
}

.info-item h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
}

.info-item p {
  width: 250px;
  padding-bottom: 16px;
}

.product-items .btn {
  display: block;
  width: 160px;
  margin-top: 25px;
  padding: 10px 0;

  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  border-radius: 3px;
}

.btn__slider,
.btn__order--red {
  background-color: #fb565a;
}

.btn__slider:hover,
.btn__order--red:hover {
  background-color: #e74246;
}

.btn__slider:active,
.btn__order--red:active {
  color: #e26f72;

  background-color: #d7373b;
  box-shadow: 0 3px 0 0 #c13135 inset;
}

.btn__order {
  width: 160px;
}

.btn__order--yellow {
  background-color: #efc84a;
}

.btn__order--yellow:hover {
  background-color: #eab534;
}

.btn__order--yellow:active {
  color: #edc265;

  background-color: #e5a722;
  box-shadow: 0 3px 0 0 #ce961f inset;
}

.btn__order--green {
  background-color: #00ca74;
}

.btn__order--green:hover {
  background-color: #00bc6c;
}

.btn__order--green:active {
  color: #4dc491;

  background-color: #00aa62;
  box-shadow: 0 3px 0 0 #009958 inset;
}

.shop-descr {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 0;

  border-bottom: 2px solid #eeeeee;
}

.shop-descr__info {
  width: 660px;
  margin-right: 100px;
  padding-top: 32px;
}

.shop__title {
  margin: 0;
  padding: 0;
  padding-top: 45px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.shop-descr__slogan {
  padding-top: 18px;

  line-height: 22px;
}

.shop-descr__info h3 {
  padding-top: 26px;
  padding-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.features-items__list {
  margin-bottom: 48px;
  padding-left: 35px;

  list-style: none;
}

.features-items__list li {
  position: relative;

  padding-bottom: 25px;
}

.features-items__list li::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.statistics-wrap {
  width: 360px;
}

.statistics__table-title {
  display: block;
  margin-top: 29px;

  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.statistics__table {
  margin-top: 46px;
}

.statistics__table-row th {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 33px;
  padding-left: 1px;

  font-size: 45px;
  line-height: 10px;
  text-align: left;
}

.statistics__table-row td {
  padding-left: 0;

  line-height: 18px;
}

.statistics__table-row sup {
  font-size: 28px;
}

.logos__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 80px;
  padding: 45px 0 39px 0;

  border-bottom: 2px solid #eeeeee;
}

.logo__wrap {
  opacity: 0.24;
}

.logo-wr {
  position: relative;
}

.logo__wrap {
  display: inline-block;

  vertical-align: middle;
}

.logo-wr:first-child {
  width: 250px;
}
.logo-wr:last-child {
  width: 210px;
}

.logo-wr:nth-child(2),
.logo-wr:nth-child(3) {
  width: 245px;
}

.logo-wr:first-child {
  padding-top: 10px;
  padding-left: 30px;
}

.logo-wr:nth-child(2) {
  padding-left: 45px;
}

.logo-wr:nth-child(3) {
  padding-left: 68px;
}

.logo-wr:last-child {
  padding-top: 5px;
  padding-left: 60px;
}

.logo-wr::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 1px;
  height: 50px;

  background: lightgray;
  transform: translateY(-50%);
}

.logo__wr--academy::after {
  right: 0;
}

.logo__wr--borodiskii::after {
  right: -10px;
}

.logo__wr--pink::after {
  right: 2px;
}

.logo__wr--mishka::after {
  display: none;
}

.logo__wrap:hover {
  opacity: 1;
}

.logo__wrap:active {
  opacity: 0.1;
}

.map {
  position: relative;

  width: 100%;
  height: 100%;
}

.google__map {
  width: 100%;
  height: 416px;

  border: none;
}

.contacts {
  position: absolute;
  top: 54px;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 320px;
  height: 310px;
  padding: 0 50px;
  padding-top: 52px;
  padding-bottom: 49px;

  color: #666666;

  background-color: #ffffff;
}

.contacts a {
  color: #666666;
  text-decoration: none;

  background-color: #ffffff;
}

.contacts .btn {
  width: 219px;
  margin-top: auto;

  color: white;

  background-color: #fb565a;
  border: none;
}

.contacts h3 {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  padding: 7px 10px 0 0;

  font-size: 16px;
  line-height: 18px;
}

.page-footer {
  display: flex;
  padding-top: 43px;
  padding-bottom: 70px;
}

.footer__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
  padding-top: 21px;
}

.footer__item {
  width: 77px;
  height: 77px;

  font-size: 0;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.footer__item:hover {
  background-color: #e74246;
}

.footer__item:active {
  background-color: #d7373b;
}

.footer__item--vk {
  background-image: url("../img/decor/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--fb {
  background-image: url("../img/decor/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--ig {
  background-image: url("../img/decor/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__text {
  width: 560px;
}

.footer__text-slogan {
  margin: 0;
  padding-top: 24px;

  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
}

.footer__text-offer {
  font-size: 16px;
  line-height: 15px;
  color: #444444;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;

  display: none;
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  margin-top: -300px;
  margin-left: -480px;
  padding-bottom: 85px;

  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: -1px 12px 19px -5px #000000;
}

.modal__wr {
  padding-top: 70px;
  padding-right: 100px;
  padding-bottom: 84px;
  padding-left: 100px;
}

.modal__title {
  position: relative;

  font-weight: 600;
  font-size: 45px;
  line-height: 45px;
}

.modal__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin-top: 30px;
}

.modal__input,
.modal__comment {
  display: inline-block;
  box-sizing: border-box;
  width: 360px;
  margin-top: 10px;
  padding: 15px;

  line-height: 18px;
  vertical-align: middle;
  color: #a1a1a1;

  border: 2px solid #d7dcde;
  border-radius: 5px;
}

.modal__input:focus,
.modal__comment:focus {
  color: #000000;

  border: 2px solid #000000;
}

.modal .btn {
  position: absolute;
  bottom: 75px;

  width: 260px;

  background-color: #fb565a;
  border: 0;
}

.modal__text {
  display: inline-block;
  width: 360px;

  vertical-align: middle;
}

.modal__text--comment {
  position: relative;

  margin-top: 30px;
}

.modal__comment {
  width: 760px;
  height: 115px;
}

.modal__close {
  position: absolute;
  top: 80px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background: none;
  background-image: url("../img/decor/close-cross.svg");
  border: 0;
  cursor: pointer;
  opacity: 0.3;
}

/*CATALOG.HTML*/

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 233px;

  color: #000000;

  background-color: #eeeeee;
}

.container__catalog {
  display: flex;
  flex-wrap: wrap;
}

.filter-form {
  width: 260px;
  margin-right: 98px;
}

.sort {
  margin-left: 41px;
}

.sort__filter {
  margin-top: 43px;
  margin-bottom: 43px;
}

.sort__catalog-title {
  display: inline-block;
  margin-right: 240px;

  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
}

.sort__catalog {
  display: inline-block;
  margin: 0;
  padding: 0;

  list-style: none;
  vertical-align: middle;
  text-transform: uppercase;

  border: 0;
}

.sort__catalog-item {
  display: inline-block;
  margin-left: 22px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
}

.sort__catalog-item a {
  color: #000000;
  text-decoration: none;

  opacity: 0.3;
}

.sort__catalog-item a:hover {
  opacity: 0.6;
}

.sort__catalog-item a:active {
  opacity: 1;
}

.sort__catalog-item--active a {
  color: #000000;

  opacity: 1;
}

.catalog__toggle-list {
  display: inline-block;
  margin-left: 43px;

  vertical-align: middle;
}

.catalog__toggle {
  display: inline-block;

  vertical-align: middle;

  cursor: pointer;
}

.catalog__toggle--down {
  width: 9px;
  height: 9px;
  margin-right: 10px;

  background-image: url("../img/decor/icon-down-dir.png");
}

.catalog__toggle--up {
  width: 9px;
  height: 9px;

  background-image: url("../img/decor/icon-up-dir.png");
  cursor: auto;
  opacity: 0.2;
}

.product__content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 760px;
  margin-top: 5px;
}

.product__item {
  position: relative;

  margin-right: 40px;
  margin-bottom: 29px;
  padding-top: 39px;
}

.product__item:hover {
  box-shadow: 0 7px 9px -3px #cfcfcf;
}

.product__item:hover .product__info {
  display: block;
}

.product__item:hover::before {
  background-color: #4d4d4d;
}

.product__item:nth-child(2n) {
  margin-right: 0;
}

.product__item::before {
  content: "";
  position: absolute;
  top: 0;

  width: 360px;
  height: 40px;

  background-color: #eeeeee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.product__item::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 42px;

  width: 14px;
  height: 14px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 25px 0 0 0 #ffffff,
  -25px 0 0 0 #ffffff;
}

.product__info {
  position: absolute;
  bottom: 0;
  z-index: 10;

  display: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: 350px;
  padding-bottom: 47px;
  overflow: auto;
  max-height: 582px;

  background-color: #eeeeee;
}

.product__info-wr {
  display: block;
  width: 215px;
  margin: 0 auto;

  text-align: center;
  text-align: center;
}
.product__info-wr a {
  text-decoration: none;
}
.product__description {
  display: inline-block;
  margin: 0;
  padding: 0 10px;

  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  color: #939393;
}

.product__title {
  margin: 0;
  padding: 26px 0 13px 0;

  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #283136;
  text-transform: uppercase;
}

.filter-form__item {
  padding-left: 0;

  border: 0;
}

.filter-form__title {
  display: inline-block;

  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  vertical-align: middle;
  text-transform: uppercase;
}

.filter-form__title--price {
  padding-top: 58px;
  padding-bottom: 51px;
}

.web label {
  display: block;
}

.web {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 36px;
}

.features {
  margin-bottom: 40px;
}

.web,
.features {
  padding: 0;

  list-style-type: none;
}

.features label {
  display: block;
}

.filter__button {
  display: block;
  width: 260px;
  min-height: 50px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  border: 0;
  border-radius: 5%;
  border-radius: 5px;
  cursor: pointer;
}

.filter__button:hover,
.paginator__link:hover {
  background-color: #dfdfdf;
}

.filter__button:active,
.paginator__link:active {
  color: #959595;

  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 #bfbfbf inset;
}

.filter-form__range {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background: #f1f1f1;
  border-radius: 5px;
}

.filter-form__scale {
  height: 2px;

  background: #d7dcde;
}

.filter__bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.filter-form__toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter-form__toggle--min {
  left: 20px;
}

.filter-form__toggle--max {
  left: 160px;
}

.filter-form__price {
  margin-bottom: 57px;

  font-size: 0;
}

.filter-form__value {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  vertical-align: middle;
  text-transform: uppercase;
}

.filter-form__value-input {
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;

  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #283136;

  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.filter-form__value--max-price {
  text-align: right;
}


.checkbox,
.radio {
  display: none;
}

.radio-custom {
  position: relative;

  box-sizing: border-box;
  width: 25px;
  height: 25px;

  border: 3px solid #b8b8b8;
  border-radius: 50%;
}

.checkbox-custom {
  position: relative;

  box-sizing: border-box;
  width: 23px;
  height: 23px;

  border: 3px solid #b8b8b8;
  border-radius: 3px;
}

.label {
  margin-left: 10px;

  line-height: 20px;
  color: #283136;
}

.features label,
.web label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  position: absolute;
  z-index: 10;

  display: block;
  width: 25px;
  height: 25px;

  background: #ffffff url("../img/decor/checkbox-on.svg") no-repeat;
  opacity: 0.3;
}

.checkbox:checked + .checkbox-custom,
.radio:checked + .radio-custom {
  border: none;
}

.radio:checked + .radio-custom::before {
  content: "";
  position: absolute;
  z-index: 10;

  display: block;
  width: 25px;
  height: 25px;

  background: #ffffff url("../img/decor/radio-on.svg") no-repeat;
  opacity: 0.2;
}

.paginator {
  display: flex;
  flex-wrap: wrap;
  padding-top: 24px;
}

.paginator-items {
  display: flex;
  margin-top: 0;
  margin-bottom: 60px;
  padding-left: 0;

  list-style-type: none;
}

.filter__button:hover,
.paginator__link:hover {
  background-color: #dfdfdf;
}

.filter__button:active,
.paginator__link:active {
  color: #959595;

  background-color: #d5d5d5;
  box-shadow: 0 3px 0 0 #bfbfbf inset;
}

.paginator__link {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  margin-right: 9px;
  padding: 16px 21px;

  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  vertical-align: top;
  color: #2e2e2e;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #eeeeee;
  border-radius: 5%;
}

.paginator--current {
  box-sizing: border-box;

  background-color: #ffffff;
  border: 2px solid #eeeeee;
}

.paginator--next {
  padding-right: 79px;
  padding-left: 79px;
}
