body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: normal;

}

.container {
  width: 1160px;
  margin: 0 auto;
}

.container--rel {
  position: relative;
}

.page-header {
  background-color: #eeeeee;
  color: #000000;
  padding-top: 50px;
  text-transform: uppercase;

}

.page-menu {
  display: flex;
  justify-content: space-between;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-nav {
  display: flex;
  min-width: 440px;
  margin-left: 200px;
  min-width: 490px;
}

.main-nav li {
  display: inline-block;
  position: relative;
  margin-right: 46px;
}

.page-menu__logo {
  opacity: 1;
}

.page-menu__logo:hover {
  opacity: 0, 8;
}


.main-nav .current {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 8px;
}


.main-nav__item a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;

}

.main-nav__item a:hover,
.backet a:hover {
  color: #fb565a;
}

.main-nav__item a:active,
.backet a:active {
  color: #a6a6a6;
}

.backet a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
}

.main-nav__item--active::before {
  content: "";
  position: absolute;
  background: #fb565a;
  height: 2px;
  width: 100%;
  bottom: -5px;
}

.backet {
  position: relative;
  margin-left: 235px;
  margin-top: 26px;
}

.backet::before {
  content: "";
  position: absolute;

  top: 5px;
  left: -40px;

  width: 20px;
  height: 15px;
  background: transparent url("../img/decor/backet.svg") no-repeat;
  background-position: 1px 1px;
  z-index: 10;
}


.slider__dots-wrp {
  position: absolute;
  bottom: 106px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 50;
}

.slider__dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background: #fff;
  border: 5px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.slider__dot::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  right: 2px;
}

.slider {
  background-color: #eee;
  position: relative;
}



.slider__text {
  padding-top: 70px;
  padding-bottom: 78px;
  width: 515px;

}

.slider input[type=radio] {
  display: none;
}

#btn-1:checked~.slider__dots-wrp .slider__dot[for="btn-1"],
#btn-2:checked~.slider__dots-wrp .slider__dot[for="btn-2"],
#btn-3:checked~.slider__dots-wrp .slider__dot[for="btn-3"] {
  background: #c1c1c1;
}

.slider__item:nth-child(1) {
  background-image: url("../img/decor/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider__item:nth-child(2) {
  background-image: url("../img/decor/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider__item:nth-child(3) {
  background-image: url("../img/decor/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 28px;
}

.slider__item {
  display: none;
}

#btn-1:checked~.slider__list .slider__item:nth-child(1) {
  display: block;
}

#btn-2:checked~.slider__list .slider__item:nth-child(2) {
  display: block;
}

#btn-3:checked~.slider__list .slider__item:nth-child(3) {
  display: block;
}

.slider__title,
.main__title--catalog {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 25px;
  margin: 0;
}
.main__title--catalog {
  padding-bottom: 40px;
}



.slider__slogan {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  margin: 0px;
}

.btn-hover,
.btn {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border-radius: 5px;
}

.btn__slider {
  width: 240px;
  margin-top: 40px;
}

.btn-hover {
  width: 200px;
  border: 0;
  background-color: #fb565a;
  margin: 0 auto;
  margin-top: 28px;
}

.info-items {
  margin-top: 80px;
  padding-bottom: 80px;

  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}

.info-item {
  width: 360px;

}

.info-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 600;
}

.info-item p {
  width: 250px;
  padding-bottom: 16px;
}

.product-items .btn {
  display: block;
  width: 160px;
  padding: 10px 0;
  margin-top: 25px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
}


.btn__slider,
.btn__order--red {
  background-color: #fb565a;
}

.btn__slider:hover,
.btn__order--red:hover {
  background-color: #e74246;
}

.btn__slider:active,
.btn__order--red:active {
  color: #e26f72;
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
}

.btn__order {
  width: 160px;
}

.btn__order--yellow {
  background-color: #efc84a;
}

.btn__order--yellow:hover {
  background-color: #eab534;
}

.btn__order--yellow:active {
  color: #edc265;
  background-color: #e5a722;
  box-shadow: 0px 3px 0px 0px #ce961f inset;
}

.btn__order--green {
  background-color: #00ca74;
}

.btn__order--green:hover {
  background-color: #00bc6c;
}

.btn__order--green:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: 0px 3px 0px 0px #009958 inset;
}

.shop-descr {
  padding-top: 38px;
  padding-bottom: 0px;

  border-bottom: 2px solid #eee;

  display: flex;
  justify-content: space-between;
}

.shop-descr__info {
  width: 660px;
  margin-right: 100px;
  padding-top: 32px;
}



.shop__title {
  padding: 0;
  padding-top: 45px;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.shop-descr__slogan {
  line-height: 22px;
  padding-top: 18px;
}

.shop-descr__info h3 {
  text-transform: uppercase;
  padding-top: 26px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.features-items__list {
  list-style: none;
  padding-left: 35px;
  margin-bottom: 48px;
}

.features-items__list li {
  padding-bottom: 25px;
  position: relative;

}

.features-items__list li::before {
  content: "";
  top: 12px;
  left: -35px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


.statistics-wrap {
  width: 360px;
}

.statistics__table-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 29px;
}

.statistics__table {
  margin-top: 46px;
}

.statistics__table-row th {
  font-size: 45px;
  line-height: 10px;
  padding-top: 10px;
  padding-bottom: 33px;
  padding-right: 15px;
  padding-left: 1px;
  text-align: left;
}
.statistics__table-row td {
padding-left: 0;
line-height: 18px;
}



.statistics__table-row sup {
  font-size: 28px;
}



.logos__wrap {
  display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 45px 15px 39px 2px;
    border-bottom: 2px solid #eee;
    margin-bottom: 80px;
}

.logo__wrap {
  opacity: 0.24;
}

.logo__wrap:hover {
  opacity: 1;
}

.logo__wrap:active {
  opacity: .1;
}



.map {
  width: 100%;
  height: 100%;
  position: relative;
}

iframe {
  width: 100%;
  height: 416px;

}

.contacts {
  display: flex;
  flex-wrap: wrap;
  position: absolute;

  top: 54px;


  width: 320px;
  height: 310px;
  background-color: #ffffff;
  color: #666666;
  padding: 0 50px;
  padding-top: 52px;
  padding-bottom: 49px;
  box-sizing: border-box;
}

.contacts a {
  background-color: #ffffff;
  color: #666666;
text-decoration: none;
}

.contacts .btn {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
  margin-top: auto;

}

.contacts h3 {
  padding: 0;

  margin: 0;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
    padding-top: 7px;
}



.page-footer {
  display: flex;
  padding-bottom: 70px;
  padding-top: 43px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;

  padding-top: 21px;
}

.footer__item {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;
}

.footer__item:hover {
  background-color: #e74246;
}

.footer__item:active {
  background-color: #d7373b;
}

.footer__item--vk {
  background-image: url("../img/decor/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



.footer__item--fb {
  background-image: url("../img/decor/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer__item--ig {
  background-image: url("../img/decor/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



.footer__text {
  width: 560px;
}

.footer__text-slogan {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
  padding-top: 24px;
}

.footer__text-offer {
  font-size: 16px;
  line-height: 15px;
  color: #444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -300px;
  padding-bottom: 85px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 960px;
  height: 590px;
  background-color: #fff;
  box-shadow: -1px 12px 19px -5px #000;
  display: none;
}


.modal__wr {
  padding-top: 70px;
  padding-bottom: 84px;
  padding-left: 100px;
  padding-right: 100px;
}

.modal__title {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
}

.modal__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 30px;
}

.modal__input,
.modal__comment {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  color: #a1a1a1;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  width: 360px;

}

.modal__input:focus,
.modal__comment:focus {
  color: #000;
  border: 2px solid #000;
}

.modal .btn {
  position: absolute;
  bottom: 75px;
  background-color: #fb565a;
  width: 260px;
  border: 0;
}


.modal__text {
  display: inline-block;
  width: 360px;
}

.modal__text--comment {
  position: relative;
  margin-top: 30px;
}

.modal__comment {
  width: 760px;
  height: 115px;
}


.modal__close {
  position: absolute;
  font-size: 0;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  background: none;
  background-image: url("../img/decor/close-cross.svg");
  opacity: .3;
}




/*CATALOG.HTML*/

.page-title {
  height: 233px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  color: #000000;
}


.container__catalog {
  display: flex;
  flex-wrap: wrap;
}


.filter-form {

  width: 260px;
  margin-right: 98px;

}




.sort {
  margin-left: 41px;

}

.sort__filter {
  margin-top: 43px;
  margin-bottom: 83px;
}

.sort__catalog-title {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-right: 240px;
}

.sort__catalog {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-transform: uppercase;
}

.sort__catalog-item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 22px;
}

.sort__catalog-item a {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
}

.sort__catalog-item a:hover {
  opacity: .6;
}

.sort__catalog-item a:active {
  opacity: 1;
}

.sort__catalog-item--active a {
  color: #000;
  opacity: 1;
}


.catalog__toggle-list {
  display: inline-block;
  margin-left: 43px;
}

.catalog__toggle {
  display: inline-block;
  cursor: pointer;
}

.catalog__toggle--down {
  width: 9px;
  height: 9px;
  margin-right: 10px;
  background-image: url("../img/decor/icon-down-dir.png");
}

.catalog__toggle--up {
  width: 9px;
  height: 9px;
  background-image: url("../img/decor/icon-up-dir.png");
  opacity: 0.2;
  cursor: auto;
}



.product__content {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  box-sizing: border-box;
  margin-top: 65px;
}

.product__item {
  margin-right: 40px;
  margin-bottom: 67px;
  position: relative;
}

.product__item:hover {
  box-shadow: 0px 7px 9px -3px #cfcfcf;
}

.product__item:hover .product__info {
  display: block;
}

.product__item:hover::before {
  background-color: #4d4d4d;
}

.product__item:nth-child(2n) {
  margin-right: 0;
}

.product__item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #eee;
  top: -39px;
}

.product__item::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #fff;
  left: 42px;
  top: -27px;
  box-shadow: 25px 0 0 0 #fff,
    -25px 0 0 0 #fff;
}

.logo-wr::after {
  content: "";
  border: 1px solid lightgrey;
  margin: 40px;
  border-top-width: 40px;
}

.product__info {
  position: absolute;
  height: 235px;
  width: 100%;
  background-color: #eee;
  box-sizing: border-box;
  margin-top: 350px;
  z-index: 10;
  bottom: 0;
  display: none;
}

.product__info-wr {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-align: center;
  width: 215px;
}

.product__description {
  font-size: 16px;
  line-height: 18px;
  color: #939393;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.product__title {
  font-size: 18px;
line-height: 30px;
    margin: 0;
    padding: 26px 0 13px 0;
    text-align: center;
    text-transform: uppercase;
}



.filter-form__item {


padding-left: 0;
border: 0;
}




.filter-form__title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;

}

.filter-form__title--price {
  padding-top: 58px;
  padding-bottom: 51px;
}

.web label {
  display: block;
}
.web {
margin: 0;
 margin-top: 10px;
 margin-bottom: 36px;
}
.features{
  margin-bottom: 40px;
}
.web,
.features {
  list-style-type: none;
  padding: 0;
}

.features label {
  display: block;
}

.filter__button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 260px;
  min-height: 50px;
  background-color: #eee;
  border: 0;
  cursor: pointer;
  border-radius: 5%;
  border-radius: 5px;
  color: #000;
}

.filter__button:hover,
.paginator__link:hover {
  background-color: #dfdfdf;
}

.filter__button:active,
.paginator__link:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: 0px 3px 0px 0px #bfbfbf inset;
}

.filter-form__range {
  position: relative;
  height: 41px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  padding-top: 39px;
  background: #f1f1f1;
}

.filter-form__scale {
  height: 2px;
  background: #d7dcde;
}

.filter__bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter-form__toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter-form__toggle--min {
  left: 20px;
}

.filter-form__toggle--max {
  left: 160px;
}

.filter-form__price {
  margin-bottom: 57px;
  font-size: 0;
}

.filter-form__value {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.filter-form__value-input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  margin-left: 10px;
  text-align: center;
  width: 60px;
  padding: 8px 10px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter-form__value--max-price {
  text-align: right;
}


.checkbox,
.radio {
  display: none;
}

.radio-custom {
  position: relative;
  height: 25px;
  width: 25px;
  border: 3px solid #b8b8b8;
  border-radius: 50%;
  box-sizing: border-box;
}

.checkbox-custom {
  position: relative;
  height: 23px;
  width: 23px;
  border: 3px solid #b8b8b8;
  border-radius: 3px;
  box-sizing: border-box;
}

.label {
  line-height: 20px;
  color: #283136;
  margin-left: 10px;
}

.features label,
.web label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox:checked+.checkbox-custom::before {
  content: "";
  display: block;
  position: absolute;

  top: -3px;
  left: -3px;

  width: 27px;
  height: 23px;
  background: #ffffff url("../img/decor/checkbox-on.svg") no-repeat;
  z-index: 10;
  opacity: 0.2;
}

.radio:checked+.radio-custom::before {
  content: "";
  display: block;
  position: absolute;

  top: -3px;
  left: -3px;

  width: 27px;
  height: 23px;
  background: #ffffff url("../img/decor/radio-on.svg") no-repeat;
  z-index: 10;
  opacity: 0.2;
}





.paginator {
  display: flex;
}

.paginator-items {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
    margin-bottom: 47px;
}



.filter__button:hover,
.paginator__link:hover {
  background-color: #dfdfdf;
}

.filter__button:active,
.paginator__link:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: 0px 3px 0px 0px #bfbfbf inset;
}

.paginator__link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 21px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 9px;
  text-transform: uppercase;
}

.paginator--current {
  background-color: #fff;
  border: 2px solid #eee;
  box-sizing: border-box;
}

.paginator--next {
  padding-left: 79px;
  padding-right: 79px;
}
